NODE_ENV='development'

HTTP_PORT=3000
HTTP_HOST='http://localhost:20016'
HTTP_CORS='http://localhost:10016,http://localhost:3000'

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='123'
POSTGRES_PORT=5433
POSTGRES_HOST='localhost'
POSTGRES_DATABASE='payment-project'
POSTGRES_URI='postgresql://postgres:123@localhost:5433/payment-project'

JWT_SECRET='secret'
JWT_ACCESS_TOKEN_TTL='2h'
JWT_REFRESH_TOKEN_TTL='7d'

COOKIES_SECRET='secret'
COOKES_DOMAIN='localhost'

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=